html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
 
}
 *:before,*:after {
    box-sizing: border-box;
  }
  .container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
  }
  .hero{
    width: 1770px;
    height: 820px;
    background: url(../images/first-image.png) no-repeat center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFFFFF;
    line-height: 26px;
    position: relative;
  }
  .hero__text{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
  }
.hero__title{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
}
.hero__paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 6.82px;
    margin-top: 11px;
}
.hero__input{
    display: flex;
    flex-direction: row;
    margin-top: 48px;
}
.hero__input input[type="text"]{
    width: 503px;
    height: auto;
    border: white;
}
.hero__input input[type="text"]::placeholder{
    text-align: center;
    letter-spacing: 2.8px;
    color: #999999;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}
.btn{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 153px;
    height: 63px;
    background: #5474FD;
    border: transparent;
}
.hero__btn{
    border: 2px solid #FFFFFF;
}
.hero__search{
    position: relative;
    right: 35px;
}
.scroll__text{
    letter-spacing: 2.8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-top: 108px;
}
.hero__scroll{
    text-decoration: none;
    color: white;
}
.main-header{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 83px;    
    background: #5474FD;
}
.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-nav a{
    text-decoration: none;
    margin-left: 11px;
    color: white;
    font-family: 'Aleo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}
.chooseus{
    width: 1770px;
    height: 685px;
    background: url('../images/second-image.png')no-repeat center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
}
.choose__parent{
    display: grid;
grid-template-columns: 1fr 1fr;
}

.choose__subtitle{
   
    font-family: 'Aleo', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
}
.choose__text{
    font-family: 'Josefin Sans';
    font-size: 16px;
    letter-spacing: 1.6px;
    margin-top: 50px;
    color: #E8E8E8;
}
.choose__images{
    display: flex;
    flex-direction: column;
}
.choose__images img{
    width: 350px;
    height: auto;
}
.choose__images img:nth-child(2){
    margin-top: 20px;
    margin-left: 90px;
}
.choose__btn{
    width: 228px;
    height: 63px;
    margin-top: 45px;
}
.icons{
    width: 100%;
    height: 340px;
    background: #333333;
    display: flex;
    align-items: center;
    padding-left: 200px;
}
.icons__logo{
    margin-top: -40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.icons__logo p{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    margin-top: 20px;
    color: #E8E8E8;
}
.icons__logo img{
    margin-left: 73px;
}
.madrid{
    width: 100%;
    height: 700px;
    background: url('../images/fifth.png') no-repeat center;
    display: flex;
    align-items: center;
}
.madrid__info{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: -30px;
}
.madrid__subtitle{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 19px;
    letter-spacing: 1.5px;
    color: #E8E8E8;
}
.madrid__text{
    margin-top: 100px;
    width: 53%;
height: auto;
    padding-top: 49px;
    background: #232323;
opacity: 0.9;
padding-left: 32px;

}
.madrid__paragraph{
    font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 1.6px;
}
.madrid__btn{
    margin-bottom: 70px;
}
.madrid1{
    width: 100%;
    height: 700px;
    background: url('../images/sixth-image.png') no-repeat center;
  
}
.madrid__text1{
    float: right;
    margin-top: 100px;
    width: 53%;
height: auto;
    background: #232323;
opacity: 0.9;
padding-left: 20px;

}
.tourists{
    width: 100%;
    height: 731px;
    background: url('../images/seventh-image.png') no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tourists__image-quotes{
    display: grid;
    grid-template-columns: 1fr 2fr;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tourists__image-quotes {
    background-color: #333333;
    float: right;
}
.tourists__image-quotes img {
    width: 475px;
    height: auto;

}
.tourists__said{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
font-family: 'Aleo';
color: #FEFEFE;
margin-left: 40px;
margin-right: 20px;
}
.tourists__quotes {
    padding-top: 95px;
    padding-bottom: 20px;

}
.tourists__name{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #FEFEFE;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: -20px;
}
.tourists__subtitle{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    margin-bottom: 150px;

    color: #FFFFFF;
}
.main-footer{
    width: 100%;
    height: 271px;
    position: relative;
    background: #232323;
}
.main-footer__info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 40%;
    margin-bottom: 40px;
}
.main-footer__socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 170px;
}

@media (min-width: 767px)and (max-width:1024px){
    .hero__input input[type="text"]{
        width: 303px;
        height: 50px;
        border-radius: 50px;
    }
    .hero__input input[type="text"]::placeholder{
        font-size: 10px;
        line-height: 20px;
    }
    .btn{
        font-size: 10px;
        width: 119px;
        margin-left: 30%;
        border-radius: 50px;
        padding: 10px;
    }
    .hero__input{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .hero__search {
        display: none;
    }
    .container{
        max-width: 1024px;
    }
    .right-nav{
        margin-right: 20px;
    }
    .chooseus{
        padding-left: 30px;
    }
    .choose__images img:nth-child(2){
        margin-top: 10px;
        margin-left: 0px;

    }
    .left-nav{
        padding-left: 20px;
    }
    .chooseus p{
        font-size: 13px;
    }
    br{
        display: none;
    }
    .hero__scroll{
        display: none;
    }
    .icons__logo p{
        font-size: 15px;
        text-align: center;
    }
    .icons__logo{
        margin-left: -30%;
    }
    .icons__logo img{
        width: 15%;
        height: auto;
        margin-left:40%;
    }
    .madrid__center{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .tourists__image-quotes{
        display: grid;
        grid-template-columns: 1fr;
        width: 70%;
        margin-right: 10%;

    }
    .tourists__image-quotes img{
        width: 40%;
        height: auto;
        border-radius: 100%;
        margin-left: 150px;
        margin-top: 10px;
        
    }
    .tourists__said{
        font-size: 13px;
    }
}
@media (max-width:767px){
    .container{
        max-width: 767px;
    }
    .hero__input input[type="text"]{
        width: 100%;
        height: 40px;
    }
    .hero__input input[type="text"]::placeholder{
        font-size: 10px;
        line-height: 20px;
    }
    .hero{
        height: auto;
    }
    .btn{
        font-size: 10px;
        width: 59px;
        margin-left: 30%;
        border-radius: 50px;
    }
    .hero__input{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .hero__search {
        display: none;
    }
    .right-nav a{
        float: left;
        font-size: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .choose__parent{
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        margin-left: 20px;
    }
    .choose__images img:nth-child(2){
        margin-left: 0;
    }
    .choose__images img{
        width:50%;
        height: auto;
    }
    .choose__info{
        height: auto;margin-top: 180px;
    }
    .choose__subtitle{
        margin-top: 10px;
        font-size: 15px;
    }
    .choose__text{
        font-size: 13px;
        line-height: 20px;
        margin-bottom: -10px;
        margin-top: 10px;

    }
    
    br{
        display: none;
    }
    .choose__btn{
        width: 40%;
        height: 30px;
        margin-bottom: 10px;
        margin-top: 30px;
    }
   
    .icons__logo p{
        font-size: 13px;
    }
    .icons__logo img{
        width: 40px;
        height: auto;
        margin-left:11%;

    }
    .icons__logo{
        margin-left: -70%;
    }
    .choose__images{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .choose__images img{
        border-radius: 20px;
    }
    .chooseus{
        margin-bottom: 0px;
    }
    .madrid__center{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .madrid__text, .madrid__text1{
        width: auto;
    }
    .madrid__paragraph{
        margin-top: 40px;
    }
    .tourists__subtitle{
    
font-size: 15px;  
}
    
    .tourists__image-quotes{
        display: grid;
        grid-template-columns: 1fr;
        background: transparent;
    }
    .tourists__image-quotes img{
        width: 200px;
        height: auto;
        margin-left: 12%;
        border-radius: 20px;
    }
    .tourists__said{
        font-size: 12px;
    }
    .tourists__image-quotes{
        position: relative;
        top: -123px;
    }
    .hero__btn{
        width: 100px;
        height: 30px;
        margin-left: 17%;
        margin-top: 5px;
    }
    .hero{
        height: 44.75rem;
    }
    .hero__scroll{
        display: none;
    }

   
}