html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
 
}
 *:before,*:after {
    box-sizing: border-box;
  }
  .container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
  }
  .hero{
    width: 1770px;
    height: 820px;
    background: url(../images/first-image.png) no-repeat center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFFFFF;
    line-height: 26px;
    position: relative;
  }
  .hero__text{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
  }
.hero__title{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
}
.hero__paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 6.82px;
    margin-top: 11px;
}
.hero__input{
    display: flex;
    flex-direction: row;
    margin-top: 48px;
}
.hero__input input[type="text"]{
    width: 503px;
    height: auto;
    border: white;
}
.hero__input input[type="text"]::placeholder{
    text-align: center;
    letter-spacing: 2.8px;
    color: #999999;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}
.btn{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 153px;
    height: 63px;
    background: #5474FD;
    border: transparent;
}
.hero__btn{
    border: 2px solid #FFFFFF;
}
.hero__search{
    position: relative;
    right: 35px;
}
.scroll__text{
    letter-spacing: 2.8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-top: 108px;
}
.hero__scroll{
    text-decoration: none;
    color: white;
}
.main-header{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 83px;    
    background: #5474FD;
}
.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-nav a{
    text-decoration: none;
    margin-left: 11px;
    color: white;
    font-family: 'Aleo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}
.chooseus{
    width: 1770px;
    height: 685px;
    background: url('../images/second-image.png')no-repeat center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
}
.a{
    display: grid;
grid-template-columns: 1fr 1fr;
}

.choose__subtitle{
   
    font-family: 'Aleo', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
}
.choose__text{
    font-family: 'Josefin Sans';
    font-size: 16px;
    letter-spacing: 1.6px;
    margin-top: 50px;
    color: #E8E8E8;
}
.choose__images{
    display: flex;
    flex-direction: column;
}
.choose__images img{
    width: 350px;
    height: auto;
}
.choose__images img:nth-child(2){
    margin-top: 20px;
    margin-left: 90px;
}
.choose__btn{
    width: 228px;
    height: 63px;
    margin-top: 45px;
}
.icons{
    width: 100%;
    height: 340px;
    background: #333333;
    display: flex;
    align-items: center;
    padding-left: 200px;
}
.icons__logo{
    margin-top: -40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.icons__logo p{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    margin-top: 20px;
    color: #E8E8E8;
}
.icons__logo img{
    margin-left: 73px;
}
@media (min-width: 767px)and (max-width:1024px){
    .hero__input input[type="text"]{
        width: 303px;
        height: 50px;
        border-radius: 50px;
    }
    .hero__input input[type="text"]::placeholder{
        font-size: 10px;
        line-height: 20px;
    }
    .btn{
        font-size: 10px;
        width: 119px;
        margin-left: 30%;
        border-radius: 50px;
        padding: 10px;
    }
    .hero__input{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .hero__search {
        display: none;
    }
    .container{
        max-width: 1024px;
    }
    .right-nav{
        margin-right: 20px;
    }
    .chooseus{
        padding-left: 30px;
    }
    .choose__images img:nth-child(2){
        margin-top: 10px;
        margin-left: 0px;

    }
    .left-nav{
        padding-left: 20px;
    }
    .chooseus p{
        font-size: 13px;
    }
    br{
        display: none;
    }
    .hero__scroll{
        display: none;
    }
}